<main class="main">
  <div class="inner">
  <% if user_signed_in? %>
    <div class="greeting"> 
      Your eco life by. 
      <%= link_to "#{current_user.name}", user_path(current_user.id), class: :greeting__link%>
    </div> 
    <% end %>

    <div class="card__wrapper">
    <%= render partial: 'post', collection: @posts %>
    </div>
  </div>
</main>
